body{
    background: black;
}

h1{
    forced-color-adjust: white;
    font: Opera3;
    color: whitesmoke;
}

p1{
    color: rgb(18, 238, 238);
}

li{
    color: antiquewhite;
    font-style: italic;
}